.cell-selected {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: greenyellow;
    float: left;
}

.cell-empty {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    float: left;
}

.cell-actor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: green;
    float: left;
}

.cell-obstacle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: red;
    float: left;
}

.cell-range {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: blue;
    float: left;
}

.row-odd { 
    margin-left: 25px;
}
/*TODO: fix grid margin on even rows*/
.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table {
    background-color: black;
}

.phase-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}